.Q-section {
    width: 545px;
    margin-bottom: 30px;
    position: relative;
    background-color: aqua;
    min-height: 100px;

    transition: min-height 0.3s ease-out;
}

.button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 530px;
    border-radius: 10px;
    z-index: 10;
    cursor: pointer;

    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;

    position: absolute;
}

.digital-num {
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.question {
    padding-right: 40px;
    text-align: left;
}

.button::after {
    content: "+";
    font-size: 1.4em;
    position: absolute;
    right: 0.7em;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.button.active::after {
    transform: rotate(45deg);
}

#Q1 .button {
    border: 2px solid black;
    background-color: rgb(0, 255, 0);
}

#Q1 .answer {
    background-color: white;
}

#Q3 .button {
    border: 2px solid black;
    background-color: white;
}

#Q3 .answer {
    background-color: rgb(0, 255, 0);
}

.answer {
    border: 2px solid black;
    border-radius: 10px;
    padding: 65px 30px 9px 30px;
    

    position: absolute;
    top: 20px;
    left: 20px;

    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-out;
}