.question-whole {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#left-section,
#right-section {
    width: 575px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    flex-shrink: 0;
}

#left-section {
    align-items: flex-start;
}

#right-section {
    align-items: flex-end;
}